* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(222, 20, 70);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}